<launch>
	<!-- Global params -->
	<rosparam param="image_resize_width">115</rosparam>
	<rosparam param="image_resize_height">44</rosparam>
	<rosparam param="patch_size">(9,9)</rosparam>
	<rosparam param="wait_for_ready">false</rosparam>

	<!-- Collect image data -->
	<node pkg="teach_repeat" type="data_collect.py" name="data_collect" output="screen">
		<remap from="odom" to="/robot_1/odometry/filtered" />
		<remap from="image" to="/robot_1/front_cam/image_rect" />
		<rosparam param="distance_threshold">0.15</rosparam>
		<rosparam param="angle_threshold_deg">15.0</rosparam>
	</node>

	<!-- Save Images and pose in a directory -->
	<node pkg="teach_repeat" type="data_save.py" name="data_save" output="screen" />

	<node pkg="tvtr_visualizer" type="teach.py" name="teach_script" output="screen" />

</launch>